.wgd {
    margin-right: 600px;
}

.se {
    margin-top: 50px;
}

.ul {
    margin-top: 80px;
}

.ry {
    margin-top: 90px;
}

.tx {
    color: rgba(0, 0, 255, 0.575);
}

.p {}

.h {
    margin-top: 100px;
    color: rgba(4, 0, 255, 0.61);
}

.d1 {
    margin-left: 252px;
    margin-right: 4px;

}

.d2 {
    margin-left: 4px;
    margin-right: 100px;
}

.hx {
    margin-top: 53px;
}

.yx {}

.i1 {
    height: 110px;
    width: 110px;
    margin-left: 124px;
}

.i2 {
    height: 110px;
    width: 110px;
    margin-left: 124px;
}

.i3 {
    height: 110px;
    width: 110px;
    margin-left: 124px;
}

.im1 {
    width: 1340px;
}

.u1 {
    margin-top: 130px;
    margin-bottom: 50px;
}

.di1 {
    height: 250px;
    width: 140px;
    margin-left: 124px;
}

#h2 {
    margin-top: 20px;
    color: rgb(0, 66, 66);
}

#d {
    margin-top: 50px;

    width: 850px;
}

#di {
    margin-right: 100px;
    margin-top: 150px;
    margin-left: 100px;
}

#h4 {
    margin-left: 33px;
    color: rgb(0, 81, 255);
}

#bg {
    background-color: aqua;
    margin-top: 105px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.jy {
    height: 50px;
    width: 800px;
    margin-top: 120px;
    background-color: aqua;
    margin-left: 70px;

}

.re {
    background-color: aqua;
    margin-top: 50px;
}

.h5 {
    margin-bottom: 50px;
}